/* App.css */

.App {
  background-color: white;
}

.App-header {
  background-color: #F27C22;
  padding-top: 20px; /* Adjust the padding-top value as needed */
}

.registration-form {
  /* Add styling for the registration form section */
}

.login-button {
  /* Add styling for the login button section */
}

/* Add any other styling as needed */
