/* App.css */

.first-page {
  background-color: #F27C22;
  padding-top: 20px; /* Adjust the padding-top value as needed */
  color: white; /* Adjust text color as needed */
  text-align: center; /* Center-align text within the header */
}

.image-container {
  margin-top: 20px; /* Adjust the margin-top value as needed */
}

.centered-image {
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
  max-height: 200px; /* Set the maximum height as needed */
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.registration-page {
  background-color: white;
  padding-top: 20px; /* Adjust the padding-top value as needed */
}

.registration-form {
  /* Add styling for the registration form section */
}

.login-button {
  /* Add styling for the login button section */
}

/* Add any other styling as needed */
